<ol class="" >

  {% for post in postslist | reverse %}
    <li>
      <a href="#">
      <div class="p-4 mt-4
        rounded-xl
        bg-slate-50
        border border-slate-150
        prose
        prose-p:mb-0
        prose-h2:mb-2
      ">
        <h2>Installation | Update</h2>
        <p>Read Install and Update instructions here</p>
        <div>January 20, 2021 · 3 min · Aditya Telange</div>
      </div>
      </a>
    </li>
  {% endfor %}

</ol>
