<footer class="h-32 bg-background" style="position: fixed; bottom: 0px; width: 100%">
  <div class="flex flex-wrap justify-center pt-4 pb-8">
    <div class="basis-full text-xs flex justify-center my-1 lg:my-4"> © 2020 - 2023 louiscklaw </div>
    <div class="basis-full text-xs flex justify-center my-1 lg:my-4"> RSS Feed </div>
    <div class="basis-full text-xs flex justify-center my-1 lg:my-4"> Powered by Louis & PaperMod </div>
  </div>
</footer>
