---
layout: layouts/home.njk
---

helloworld typography.njk

<article class="prose prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600">
  <h1>fontawesome</h1>
  <i class="fa-solid fa-arrow-left"></i>
  <i class="fa-solid fa-bars"></i>
  <i class="fa-solid fa-compass"></i>
  <i class="fa-solid fa-trash"></i>
  <i class="fa-solid fa-link"></i>
  <i class="fa-solid fa-arrow-up-right-from-square"></i>
  <i class="fa-brands fa-github"></i>
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-whatsapp"></i>
  <i class="fa-brands fa-telegram"></i>
</article>

<article class="prose prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600">
  <h1>This is heading 1</h1>
  <h2>This is heading 2</h2>
  <h3>This is heading 3</h3>
  <h4>This is heading 4</h4>
  <h5>This is heading 5</h5>
  <h6>This is heading 6</h6>
  <p>This is p</p>
</article>

<article class="prose prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600">
  <h1>待進變果沒致友環健問水法代人苦天。</h1>
  <h2>業立臺四即文善公作有往，等怕準命小電個。</h2>
  <h3>査今聞光洋後化外財強主職。</h3>
  <h4>待進變果沒致友環健問水法代人苦天。</h4>
  <h5>業立臺四即文善公作有往，等怕準命小電個。</h5>
  <h6>査今聞光洋後化外財強主職。</h6>
  <p>査今聞光洋後化外財強主職。</p>
</article>

<article class="prose prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600">
  <h1>阪ハウワ応92勤常勉旋72依過らつ。門むば隊就メツヘ突長山テ碁人ゆッ</h1>
  <h2>歳両ら止都トカハキ締素ぎぜつ索能経初臣こ党求ぼ担効カタハネ文会ヲツレ端作67神フ測相りち挑坂ぶ。</h2>
  <h3>応ハシカ向2捜せぽけリ覧郷ユヤワサ準助7子群メソマ直林無ノヱク総九るね法</h3>
  <h4>阪ハウワ応92勤常勉旋72依過らつ。門むば隊就メツヘ突長山テ碁人ゆッ</h4>
  <h5>歳両ら止都トカハキ締素ぎぜつ索能経初臣こ党求ぼ担効カタハネ文会ヲツレ端作67神フ測相りち挑坂ぶ。</h5>
  <h6>応ハシカ向2捜せぽけリ覧郷ユヤワサ準助7子群メソマ直林無ノヱク総九るね法</h6>
  <p>応ハシカ向2捜せぽけリ覧郷ユヤワサ準助7子群メソマ直林無ノヱク総九るね法</p>
</article>

<article class="prose prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600">
  <h1>🔻👯 👃🕛🔑</h1>
  <h2>🔻👯 👃🕛🔑</h2>
  <h3>🔻👯 👃🕛🔑</h3>
  <h4>🔻👯 👃🕛🔑</h4>
  <h5>🔻👯 👃🕛🔑</h5>
  <h6>🔻👯 👃🕛🔑</h6>
  <p>🔻👯 👃🕛🔑</p>
</article>

<!-- Stop deleting -->

{{ content | safe }}
