---
layout: layouts/base.njk
eleventyNavigation:
  key: card
  order: 3
---

<div class="pb-4" style="min-height: calc(100vh - 8rem - 8rem)">
  <section>
    <div class="avatar">
      <div class="w-24 rounded-full">
        <img src="https://avatars.githubusercontent.com/u/1376093?v=4" />
      </div>
    </div>
  </section>

  <section>
    {# prose #}
    <div>QR code here </div>
  </section>

  <section>
    <h3>Hi, I am louis</h3>
    <div> a validation engineer </div>
    <div>social icons</div>
  </section>

  <section>
    <div>works</div>
    <div>tags</div>
  </section>
</div>
