---
layout: layouts/base.njk
eleventyNavigation:
  key: card
  order: 3
---

<div class="pb-4" style="min-height: calc(100vh - 8rem - 8rem)">
  <section>
    <div class="flex flex-row justify-center gap-4">
      <div class="avatar">
        <div class="w-32 rounded-full">
          <img src="https://avatars.githubusercontent.com/u/1376093?v=4" />
        </div>
      </div>

      {#
      <div class="qr-canvas-main-page-container w-32" style="background-color: gold">
        <div style="">
          <div id="qr-canvas-main-page"></div>
        </div>
      </div>
      #}
      <div style="background-color: gold; width: 128px; height: 128px"> </div>
    </div>

    <div class="flex justify-center my-4 prose">
      <div class="flex flex-col gap-4">
        <h3 class="flex justify-center" style="">Hi, I am louis</h3>
        <div class="flex justify-center" style="">a validation engineer</div>
        <div class="flex justify-center gap-x-4" style="">
          <button>
            <i class="fa-2x fa-brands fa-github"></i>
          </button>
          <button>
            <i class="fa-2x fa-brands fa-slack"></i>
          </button>
          <button>
            <i class="fa-2x fa-brands fa-telegram"></i>
          </button>
          <button>
            <i class="fa-2x fa-brands fa-linkedin"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center mx-4 py-4">
      <div class="flex flex-row gap-4">
        <button class="btn btn-sm flex gap-2"><i class="fa-solid fa-tag"></i> <div>works</div></button>
        <button class="btn btn-sm flex gap-2"><i class="fa-solid fa-tag"></i> <div>tags</div></button>
      </div>
    </div>
  </section>
</div>

<script>
  const qrCode = new QRCodeStyling({
    width: Math.min(128, window.innerWidth * 0.5),
    height: Math.min(128, window.innerWidth * 0.5),
    type: 'svg',
    data: 'http://louiscklaw.github.io/',

    dotsOptions: { color: 'rgb(65, 66, 68)', type: 'rounded' },
    backgroundOptions: { color: '#fff' },
    imageOptions: { crossOrigin: 'anonymous', margin: 10 },
  });

  document.addEventListener('DOMContentLoaded', () => {
    qrCode.append(document.getElementById('qr-canvas-main-page'));
  });
</script>
