---
layout: layouts/base.njk
eleventyNavigation:
  key: card
  order: 3
---

<div class="pb-4 prose" style="min-height: calc(100vh - 8rem - 8rem)">
  <section>
    <div>avatar</div>
  </section>

  <section>
    <div>QR code here </div>
  </section>

  <section>
    <h3>Hi, I am louis</h3>
    <div> a validation engineer </div>
    <div>social icons</div>
  </section>

  <section>
    <div>works</div>
    <div>tags</div>
  </section>
</div>
