<footer>
	<div class=" flex justify-center pt-0 lg:p-4  ">
    <a href="//louiscklaw.github.io" class="
      text-xs
      prose
      flex flex-row justify-center items-center
      gap-1
      ">
      <i class="fa-regular fa-copyright"></i>
      <div>2023 louis portfolio</div>
    </a>
	</div>
</footer>
