<header class="
  w-full lg:w-8/12
  m-auto flex-none">
  <div class="flex flex-row flex-wrap content-center ">
    <div class="basis-full lg:basis-1/2">
      <div class="flex flex-row items-center gap-7">
        <div class="" style="font-size: 24px; font-weight: 700;">
          <a href="/" class="home-link">
            <h1>{{ metadata.title }}</h1>
          </a>
        </div>
        <div class="block grow lg:hidden"></div>
        <div class="flex flex-row items-center gap-2">
          <div>
            <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
          </div>
          <div class="border border-l-indigo-500 text-base h-[2rem]"></div>
          <div >
            <ul class="flex flex-row justify-center items-center gap-1">
              <li >
                <a href="https://adityatelange.github.io/hugo-PaperMod/fr/" title="French" aria-label=":fr:">
                  <img style="width:auto; height:1rem" src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Flag_of_Hong_Kong.svg" />
                </a>
              </li>
              <li>
                  <a href="https://adityatelange.github.io/hugo-PaperMod/fa/" title="Hk" aria-label="Hk">HK</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="basis-full lg:basis-1/2 items-center
      flex
      flex-row
      justify-start
      lg:justify-end
      ">
      <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="flex flex-row
          flex-wrap gap-6
          pt-8 lg:pt-0
          ">
          <li class="text-base font-bold">
            <a href="/works">Works</a>
          </li>
          <li class="text-base font-bold"><a href="#">Search</a></li>
          <li class="text-base font-bold">
            <a href="/tags">Tags</a>
          </li>
          {#
            <li class="text-base font-bold">
              <a href="#" class="flex gap-2">
                <div>Wiki</div>
                <div>
                  <i class="fa-solid fa-up-right-from-square text-xs"></i>
                </div>
              </a>
            </li>
          #}
        </ul>
      </nav>
    </div>
  </div>

  <div style="display: none">
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <nav>
      <h2 class="visually-hidden">Top level navigation menu</h2>
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item">
          <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>
            {{ entry.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </nav>
  </div>


</header>
