---
layout: layouts/post.njk

tags: works
title: hk-data-search-board
description: easy finder for finding the data exposed by gov.hk
---

<img src="" />

<h2>hk-data-search-board</h2>

<h3>Purpose:</h3>
A personal page to help search APIs provided by hk government. Also trying using gatsby.

<h3>Demo:</h3>
https://hk-data-search-8703a.web.app

<h3>References / Repositories:</h3>
louiscklaw/hk-data-search https://travis-ci.com/github/louiscklaw/hk-data-search
