---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---

<div style="min-height: calc(100vh - 8rem - 8rem)">
  <section> section1 </section>

  <section> section2 </section>

  <section> section3 </section>
</div>
