{%- css %}
  {% include "public/css/toc.css" %}
{%- endcss %}

{% if content | toc %}
  <div class="
    toc
    bg-slate-100
    rounded-xl
    p-4 mb-8
    w-full lg:w-4/12
    "
    style="cursor: pointer">
    <details>
    <summary accesskey="c" title="(Alt + C)">
      <span class="details text-lg font-bold">Table of Contents</span>
    </summary>

    <div class="inner pt-4">
      {{ content | toc | safe }}
    </div>
    </details>
  </div>
{% endif %}
