<div class="basis-full md:basis-1/2 flex items-center">
  <div class="flex gap-4">
    <a class="prose link" href="/card">info</a>
    <a class="prose link" href="/works">works</a>
    <a class="prose link" href="/about">about</a>
    <a class="prose link" href="/credits">credits</a>
    <a href="//louiscklaw.github.io/logseq-helloworld/" class="prose link">logseq <i class="fa-solid fa-up-right-from-square"></i></a>
  </div>
</div>
