---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---

<div class="py-4 prose" style="min-height: calc(100vh - 8rem - 8rem)">
  <section>
    <h2>Languages</h2>
    <ul>
      <li>Cantonese</li>
      <li>English</li>
      <li>Mandarin</li>
      <li>JavaScript</li>
    </ul>

    <h2>Things I do when I free</h2>

    <ul>
      <li>Electronic stuff</li>
      <li>software (arduino, raspberry pi, React, gatsbyjs, PHP, C, python, appium),</li>
      <li>hardware,</li>
      <li>Do some PCB layout</li>
      <li>Some making/modeling</li>
      <li>Web page scraping</li>
      <li>github searching</li>
    </ul>
  </section>

  <section>
    <h2>Other skills</h2>
    <ul>
      <li>Linux management</li>
      <li>Web frontend (bulma/materialize.css/next/gatsby)</li>
      <li>SQL (MySQL/MariaDB), Realtime DB (Firebase)</li>
      <li>Desktop applications (kivy)</li>
      <li>Serverless (Firebase Cloud Functions), PaaS (Heroku)</li>
      <li>Docker with docker-compose, nginx (Load balancing + Failover)</li>
      <li>OCR/captcha study(tesseract)</li>
      <li>KVM (Performance optimization, GPU Passthrough by OVMF)</li>
    </ul>
  </section>

  <section>
    <h2>work history</h2>
    <ul>
      <li>Quality Assurance Engineer(Automation)</li>
      <li>Sierrawireless validation engineer</li>
      <li>CMHK Engineer(Radio access network)</li>
    </ul>
  </section>

  <section>
    <h2>Education background</h2>
    <ul>
      <li>City University of Hong Kong</li>
      <li>Tsing Yi IVE</li>
      <li>Kwun Tong Ti</li>
    </ul>
  </section>
</div>
