---
layout: layouts/base.njk
eleventyNavigation:
  key: credits
  order: 3
---

<div class="pb-4 prose" style="min-height: calc(100vh - 8rem - 8rem)">
  <section>
    <h2>credits</h2>
  </section>

  <section>
    <h3>Other skills</h3>
    <ul>
      <li>PWA</li>
      <li>fontawesome</li>
    </ul>
  </section>

  <section>
    <h3>frameworks</h3>
    <ul>
      <li>11ty</li>
      <li>papermod</li>
    </ul>
  </section>
</div>
