---
layout: layouts/full-screen-no-scroll.njk
eleventyNavigation:
  key: credits
  order: 3
---

<div class="mx-4 pb-4 prose" style="min-height: calc(100vh - 8rem - 8rem)">
  <section>
    <h2>credits</h2>
  </section>

  <section>
    <h3>Other skills</h3>
    <ul>
      <li>PWA</li>
      <li>fontawesome</li>
    </ul>
  </section>

  <section>
    <h3>frameworks</h3>
    <ul>
      <li>11ty</li>
      <li>papermod</li>
    </ul>
  </section>
</div>

<footer class="h-32 bg-background" style="position: fixed; bottom: 0px; width: 100%">
  <div class="flex flex-wrap justify-center pt-4 pb-8">
    <div class="basis-full text-xs flex justify-center my-1 lg:my-4"> © 2020 - 2023 louiscklaw </div>
    <div class="basis-full text-xs flex justify-center my-1 lg:my-4"> RSS Feed </div>
    <div class="basis-full text-xs flex justify-center my-1 lg:my-4"> Powered by Louis & PaperMod </div>
  </div>
</footer>
