<div class="py-4">
  {% for post in postslist | reverse %}
  <a href="{{post.url}}">
    <div class="my-4 p-4 rounded-2xl bg-white prose">
      <div class="header prose-lg" style="font-weight: bold">{{ post.data.title }}</div>
      <div class="content mt-2">Read Install and Update instructions here</div>
      <div class="footer mt-2">{{ post.date | htmlDateString }} · {{ 'text' | timeToRead }}</div>
    </div>
  </a>
  {% endfor %}
</div>
